[Unit]
Description=Go vanity import redirector

[Service]
ExecStart=/usr/local/bin/go-import-redirector -tls mgk.ro https://github.com/4ad/mgk.ro
Restart=always

[Install]
WantedBy=multi-user.target
